   <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center"  [style.background-image]="'url(' + imagesLado + ')'">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">Sobre</h1>
		            <h2 class="mb-4">Sobre Mim</h2>
		            <p>Acesse Meu linkdin para conhecer mais a meu respeito.</p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Nome:</span> <span>Marcelo Gonzaga</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>bart.celo@hotmail.com</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span><a href="https://wa.me/5511953390695?text=Gostaria%20de%20saber%20sobre" target="_blank">(11) 9533-90695</a></span></li>
		            </ul>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
              	<!-- <p class="mb-4">
	                <span class="number" data-number="120">10</span>
	                <span> Project complete</span>
                </p> -->
                <p><a href="https://www.linkedin.com/in/marcelogonzagadev/" target="_blank" class="btn btn-primary py-3 px-3">linkedin</a></p>
				
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>