<section class="ftco-section ftco-no-pb" id="resume-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-10 heading-section text-center ftco-animate">
				<h1 class="big big-2">Resumo</h1>
				<h2 class="mb-4">Resumo Profissional</h2>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
					<span class="date">2013-2024</span>
					<h2>Professor de Informátatica</h2>
					<span class="position">Romafla Informátatica</span>
					<p class="mt-4">Professor de Pacote office, HTML, CSS Administração profissional.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
					<span class="date">2022-2024</span>
					<h2>Prof° &amp; Desenvolvedor de sistemas</h2>
					<span class="position">Romafla Informátatica</span>
					<p class="mt-4">Desenvolvedor do sistema para gerenciar a escola com sistema de ponto para funcinarios e sistema de gerenciamaneto das aulas, area de login acesso restrito e validação de nivel de acesso.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
					<span class="date">2024-</span>
					<h2>Consultor de TI</h2>
					<span class="position">Romafla Informátatica</span>
					<p class="mt-4">Suporte tecnico e manuteção do sistema, suporte tecnico em manuteção de computadores sistemas de segurança definição de medidas adotadas na grade curricular da escola.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-6 text-center ftco-animate">
				<p><a href="https://www.linkedin.com/in/marcelogonzagadev/" target="_blank" class="btn btn-primary py-4 px-5">linkedin</a></p>
			</div>
		</div>
	</div>
</section>